<IfModule mod_xsendfile.c>
<Files fetch.php>
	XSendFile on
</Files>
</IfModule>

###########################################
# If the notation above don't work, you can try that one
# Disclaimer : I'm no apache expert it can be bad security wise :(
###########################################
#XSendFile On
#XSendFileAllowAbove on

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^download/(.*)/.*\.(.*)$ fetch.php?data=$1&type=$2 [L]
</IfModule>

###########################################
# Uncomment if you wish to protect access with a password
###########################################
#AuthUserFile /path/to/file
#AuthGroupFile /dev/null
#AuthName "Acces securise"
#AuthType Basic
#Require valid-user
