<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./vendor/autoload.php" verbose="true">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./resources</directory>
      <directory suffix=".php">./test</directory>
      <directory suffix=".php">./saucetest</directory>
      <directory suffix=".php">./vendor</directory>
      <file>config.php</file>
      <file>config_default.php</file>
    </exclude>
    <report>
      <clover outputFile="./clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="COPS">
      <directory>./test/</directory>
    </testsuite>
  </testsuites>
</phpunit>
