<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="14.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Download with db" stopProcessing="true">
                    <match url="download/(\d*)/(\d*)/.*\.(.*?)$" />
                    <action type="Rewrite" url="fetch.php?data={R:1}&amp;db={R:2}&amp;type={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Download without db" stopProcessing="true">
                    <match url="download/(\d*)/.*\.(.*?)$" />
                    <action type="Rewrite" url="fetch.php?data={R:1}&amp;type={R:2}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>