<footer>
    <div class="footleft">
        <a href="index.php?page=19"><div title="{{=it.c.i18n.customizeTitle}}" class="hicon hicon32"><i class="icon-wrench"></i></div></a>
    </div>
    <div class="footright">
        <a class="fancyabout" href="{{=it.abouturl}}"><div title="{{=it.c.i18n.aboutTitle}}" class="hicon hicon32"><i class="icon-info-sign"></i></div></a>
    </div>
    {{? it.isPaginated == 1}}
    <div class="footcenter">
        {{? it.prevLink != ""}}<a id="prevLink" href="{{=it.prevLink}}" ><div title="{{=it.c.i18n.previousAlt}}" class="hicon hicon32"><i class="icon-angle-left"></i></div></a>{{?}}
        <p> {{=it.currentPage}} / {{=it.maxPage}} </p>
        {{? it.nextLink != ""}}<a id="nextLink" href="{{=it.nextLink}}" ><div title="{{=it.c.i18n.nextAlt}}" class="hicon hicon32"><i class="icon-angle-right"></i></div></a>{{?}}
    </div>
    {{?}}
</footer>