<header>
    <a class="headleft" href="{{=it.homeurl}}">
            <img src="images/home.png?v={{=it.version}}" alt="{{=it.i18n.homeAlt}}" />
    </a>
    <img class="headright" id="searchImage" src="images/setting64.png?v={{=it.version}}" alt="Settings and menu" />
    <div class="headcenter">
        <h1>{{=it.title}}</h1>
    </div>
    <div id="tool">
        <div style="float: left; width: 60%">
            <form action="index.php" method="get">
                <div style="float: right">
                    <input type="image" src="images/search32.png?v={{=it.version}}" alt="{{=it.i18n.searchAlt}}" />
                </div>
                <div class="stop">
                    <input type="hidden" name="current" value="{{=it.page}}" />
                    <input type="hidden" name="page" value="9" />
                    {{? it.databaseId != ""}}
                        <input type="hidden" name="db" value="{{=it.databaseId}}" />
                    {{?}}
                    <input type="search" name="query" />
                </div>
            </form>
        </div>
    </div>
</header>
<section>
{{~it.entries:entry:i}}
    {{? it.containsBook == 0}}
    <article>
        <div class="frontpage">
            <a href="{{=entry.navlink}}">
                <h2>{{=htmlEscape (entry.title)}}</h2>
                <h4>{{=entry.content}}</h4> 
            </a>
        </div>
    </article>
    {{??}}
    <article class="books">
            <span class="cover">
            {{? entry.book.hasCover == 1}}
                <a data-fancybox-group="group" class="fancycover" href="{{=entry.coverurl}}"><img src="{{=entry.thumbnailurl}}" alt="{{=it.i18n.coverAlt}}" /></a>
            {{?}}
            </span>
            <h2 class="download">
                {{~entry.book.preferedData:data:j}}
                 <a href="{{=data.url}}">{{=data.name}}</a><br />
                {{~}}
            </h2>
            <a class="fancydetail" href="{{=entry.book.detailUrl}}">
            <div class="fullclickpopup">
                <h2><span class="st">{{=htmlEscape (entry.title)}}</span>
                {{? entry.book.pubDate != ""}}<span class="sp">({{=entry.book.pubDate}})</span>{{?}}
                {{? entry.book.rating != ""}}<span class="sr">{{=entry.book.rating}}</span>{{?}}
                </h2>
                <h4>{{=it.i18n.authorsTitle}} : </h4><span class="sa">{{=htmlEscape (entry.book.authorsName)}}</span><br />
                {{? entry.book.tagsName != ""}}<h4>{{=it.i18n.tagsTitle}} : </h4>{{=htmlEscape (entry.book.tagsName)}}<br />{{?}}
                {{? entry.book.seriesName != ""}}<h4>{{=it.i18n.seriesTitle}} : </h4>{{=htmlEscape (entry.book.seriesName)}}<br />{{?}}
            </div></a>
        </article>
    {{?}}
{{~}}
</section>
<footer>
    <div class="footleft">
        <a href="customize.php"><img src="images/theme.png?v={{=it.version}}" alt="{{=it.i18n.customizeTitle}}" /></a>
    </div>
    <div class="footright">
        <a class="fancyabout" href="{{=it.abouturl}}"><img src="images/info.png?v={{=it.version}}" alt="{{=it.i18n.aboutTitle}}" /></a>
    </div>
    {{? it.isPaginated == 1}}
    <div class="footcenter">
        {{? it.prevLink != ""}}<a id="prevLink" href="{{=it.prevLink}}" ><img src="images/previous.png?v={{=it.version}}" alt="{{=it.i18n.previousAlt}}" /></a>{{?}}
        <p> {{=it.currentPage}} / {{=it.maxPage}} </p>
        {{? it.nextLink != ""}}<a id="nextLink" href="{{=it.nextLink}}" ><img src="images/next.png?v={{=it.version}}" alt="{{=it.i18n.nextAlt}}" /></a>{{?}}
    </div>
    {{?}}
</footer>