<section>
{{? it.page == 13}}
    {{#def.bookdetail}}
{{??}}
{{~it.entries:entry:i}}
    {{? it.containsBook == 0}}
    <article>
        <div class="frontpage">
            <a href="{{=entry.navlink}}">
                <h2>{{=htmlEscape (entry.title)}}</h2>
                <h4>{{=entry.content}}</h4> 
            </a>
        </div>
    </article>
    {{??}}
    <article class="books">
            <span class="cover">
            {{? entry.book.hasCover == 1}}
                <a data-fancybox-group="group" class="fancycover" href="{{=strformat (it.const.url.coverUrl, entry.book.id, it.databaseId)}}">
                    <img src="{{=strformat (it.const.url.thumbnailUrl, entry.book.id, it.databaseId)}}" alt="{{=it.const.i18n.coverAlt}}" />
                </a>
            {{?}}
            </span>
            <h2 class="download">
                {{~entry.book.preferedData:data:j}}
                 <a href="{{=data.url}}">{{=data.name}}</a><br />
                {{~}}
            </h2>
            <a class="fancydetail" href="{{=strformat (it.const.url.detailUrl, entry.book.id, it.databaseId)}}">
            <div class="fullclickpopup">
                <h2><span class="st">{{=htmlEscape (entry.title)}}</span>
                {{? entry.book.pubDate != ""}}<span class="sp">({{=entry.book.pubDate}})</span>{{?}}
                {{? entry.book.rating != ""}}<span class="sr">{{=entry.book.rating}}</span>{{?}}
                </h2>
                <h4>{{=it.const.i18n.authorsTitle}} : </h4><span class="sa">{{=htmlEscape (entry.book.authorsName)}}</span><br />
                {{? entry.book.tagsName != ""}}<h4>{{=it.const.i18n.tagsTitle}} : </h4>{{=htmlEscape (entry.book.tagsName)}}<br />{{?}}
                {{? entry.book.seriesName != ""}}<h4>{{=it.const.i18n.seriesTitle}} : </h4><span class="ss">{{=htmlEscape (entry.book.seriesName)}}</span><br />{{?}}
            </div></a>
        </article>
    {{?}}
{{~}}
{{?}}
</section>