@import url("style-base.css");

/* =============================================================================
   Main container stuff goes here and other globals
   ========================================================================== */

/*iphone - reduction des tailles de police et taille fixe en px*/
body {
    font-size: 12px;
}

h2 {font-size: 13px;}
h3 {font-size: 12px;}
h4 {font-size: 12px;}
h5 {font-size: 10px;}
h6 {font-size: 10px;}
   
/*iphone - Suppression des arrondis
.container {
border-radius:10px;
}
*/

/* =============================================================================
   Header stuff goes here
   ========================================================================== */
/*
header {
iphone - Suppression ombrage (bug avec formulaire recherche)
    box-shadow:inset 0px -5px 8px #000000;
iphone - Suppression des arrondis
    border-radius: 10px 10px 0px 0px;
}*/

.hicon{
    text-shadow: 2px 2px 2px black;
}

/*iphone - icone trop bas */
#tool .hicon32{
    margin-top: -5px;
}

.submit {
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

header h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
}

.download a {
    border-radius: 6px;
    box-shadow:0 0 10px #000;
    background: radial-gradient(#666, black);
}

/*iphone - bouton de donwload en haut dans book detail
(manque de place en mode paysage)*/
.bookpopup .download {
    float: none;
    margin: -12px 30px -2px 4px;
}
/*iphone - modification des marges pour cover dans detail*/
.bookpopup .cover {
    margin: 27px 4px 4px 0px;
}

.mfp-content .bookpopup {
/*iphone - Taille minimum du detail du livre en popup
pour que la pochette ne depasse pas
(pas seulement pour iphone) */
  min-height: 210px;
}


footer
{
box-shadow:inset 0px 5px 8px #000000;
/*iphone - Suppression des arrondis
border-radius: 0px 0px 10px 10px;*/
}


/* =============================================================================
   Mediaquerie stuff goes here
   ========================================================================== */
/* 768px and greater */
@media only screen and (min-width: 768px) {
.container { box-shadow:0 0 20px #000; }
}